examples/get svg string.json
[{"id":"eb981726b0d03720","type":"inject","z":"c447ab904053719a","name":"Get SVG string","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get_svg","_mcu":{"mcu":false},"x":720,"y":320,"wires":[["9e6701dc93571698"]]},{"id":"24925d98528ee8dc","type":"debug","z":"c447ab904053719a","name":"SVG string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":1110,"y":320,"wires":[]},{"id":"9e6701dc93571698","type":"svg-edit","z":"c447ab904053719a","name":"","svgString":"<svg width=\"640\" height=\"480\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\">\n  <circle cx=\"50\" cy=\"50\" r=\"40\" fill=\"green\" />\n</svg>","x":920,"y":320,"wires":[["24925d98528ee8dc"]]}]
